@{
  Layout = "_Layout";
}


<h1><strong>Welcome to Pierre's Bakery!</strong></h1>
<h4>Please select from the options below:</h4>
<p>@Html.ActionLink("Pierre's User Account Manager", "Index", "Account")</p>
<p>@Html.ActionLink("See Pierre's treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See Pierre's flavors", "Index", "Flavors")</p>

