@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Bakery!</h1>
<h3>Please select from the options below:</h3>
<p>@Html.ActionLink("Create an account with Pierre's", "Index", "Account")</p>
<p>@Html.ActionLink("See Pierre's treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See Pierre's flavors", "Index", "Flavors")</p>